<h1>Editing Management</h1>

<%= render 'form', management: @management %>

<%= link_to 'Show', @management , class: "btn btn-primary"  %> |
<%= link_to 'Back', managements_path , class: "btn btn-danger" %>
