
<table>
  <thead class = "text">
<div class="col-md-6">
  <h1>Editing Document</h1>
<div class="panel panel-default">
  <div class="panel-heading">New Document</div>
  <div class="panel-body">
    <%= render 'form', document: @document %>
    </div>
  </div>
</div>

</thead>
<thead>
<div class="col-md-6">
  <h1>Markdown</h1>
  <div class="panel panel-default">
    <div class="panel-heading"><%= @document.title %></div>
    <div class="panel-body"><%= markdown(@document.text) %></div>
  </div>
</p>
</div>
</thead>
</table>
