/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   margin: 33px;
   padding-left: 30px;
   padding-right: 30px;

   background-color: #1d1e22;
   color: #d4d4dc;
 }



 .table > thead > tr > th {
  background-color: #5d9965;
  color: #393f4d;

}
 table{
   width: 100%;
   word-break:break-all
 }

 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #393f4d;
}

 .panel-body  {
     word-break:break-all;
     background-color: #1d1e22;
     padding-top: 10px;
     padding-bottom: 10px;
     width: 100%
 }

 .panel > .panel-heading{
   background-color: #5d9965;
   color: #393f4d;
 }

 input{
     color: black;
 }

option{

    color: black;
}
select {
  color: black;
}

textarea {
    color:black;
}
 /* navbar */
.navbar-default {
    background-color: #5d9965;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #393f4d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #393f4d;
}
