/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   margin: 33px;
   padding-left: 30px;
   background-color: #1C2331;
   color: #f57c00;
 }
.navbar  {
   background-color: #eceff1;

 }


 .table > thead > tr > th {
  background-color:$brand-primary;
  color: white;
  word-wrap: break-word;

}
 table{
   width: 100%;
 }
